[submodule "optifit/optifit-paper"]
	path = papers/optifit
	url = https://github.com/SchlossLab/Sovacool_OptiFit_mSphere_2022
[submodule "data-science/girls-who-code-paper"]
	path = papers/girls-who-code
	url = https://github.com/GWC-DCMB/curriculum-notebooks
[submodule "data-science/software-carpentry-paper"]
	path = papers/software-carpentry
	url = https://github.com/umcarpentries/intro-curriculum-r
[submodule "data-science/mikropml-paper"]
	path = papers/mikropml
	url = https://github.com/SchlossLab/mikropml
[submodule "papers/severe-cdi"]
	path = papers/severe-cdi
	url = https://github.com/SchlossLab/severe-CDI
